body{
   background:linear-gradient(to right ,blue,rgb(241, 29, 65),rgb(91, 235, 91),orange); 
   height: 100vh;
   display: flex;
   justify-content:center;
   align-items: center;
   background-size: 400% 400%;
    margin: 0;
    animation: gradientMove 8s linear infinite;

}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.container{
    width: 300px;
    height: 300px;
    border: 100px;
    border-radius: 100%;
    box-shadow: 2px 4px 6px 8px rgb(13, 13, 14) ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:transform 0.5s ease-in-out;
}
.container:hover{
    transform: scale(1.05);
}
#clock{
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 0 0 20px rgb(106, 101, 101);
    margin: 0;
    
}